<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="Microsoft.AspNetCore.Identity.EntityFrameworkCore" />
      <package pattern="Microsoft.EntityFrameworkCore.*" />
      <package pattern="dotnet-ef" />
      <package pattern="System.Text.Encoding.CodePages" />
      <package pattern="Microsoft.EntityFrameworkCore" />
      <package pattern="Microsoft.AspNetCore.Cryptography.Internal" />
      <package pattern="Microsoft.AspNetCore.Cryptography.KeyDerivation" />
      <package pattern="Microsoft.Extensions.Identity.Core" />
      <package pattern="Microsoft.Extensions.Identity.Stores" />
      <package pattern="Microsoft.AspNetCore.Authentication.JwtBearer" />
      <package pattern="Microsoft.IdentityModel.Abstractions" />
      <package pattern="Microsoft.IdentityModel.JsonWebTokens" />
      <package pattern="Microsoft.IdentityModel.Logging" />
      <package pattern="Microsoft.IdentityModel.Protocols" />
      <package pattern="Microsoft.IdentityModel.Protocols.OpenIdConnect" />
      <package pattern="Microsoft.IdentityModel.Tokens" />
      <package pattern="System.IdentityModel.Tokens.Jwt" />
    </packageSource>
  </packageSourceMapping>
</configuration>
